.main-container {
  display: flex;
  height: 100vh;
}

.chat-layout {
  width: 100vw;
  padding: 5px;
  display: flex;
  background-color: #001529;
  flex: 1;
  margin: 0;
}

.user-list-container {
  padding: 20px 10px 0 10px;
  background: #ffffff;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  height: 100%;
}

.messages-container {
  padding: 20px 10px 0 10px;
  background-color: aliceblue;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  height: 100%;
}
