<div style="display: flex">
  <app-sidebar></app-sidebar>
  <div
    style="
      width: 100vw;
      height: 100vh;
      padding: 5px;
      display: flex;
      background-color: #001529;
    "
  >
    <app-user-list
      style="
        width: 30%;
        background-color: aliceblue;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
        padding: 20px 10px 20px 10px;
      "
      (conversationSelected)="onConversationSelected($event)"
    ></app-user-list>
    <app-messages
      style="
        width: 70%;
        background-color: aliceblue;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        padding: 20px 10px 20px 10px;
      "
      [conversationId]="selectedConversationId"
    ></app-messages>
  </div>
</div>
