<div class="main-container">
  <app-sidebar></app-sidebar>

  <nz-row class="chat-layout">
    <nz-col
      [nzXs]="24"
      [nzSm]="24"
      [nzMd]="9"
      [nzLg]="7"
      class="user-list-container"
    >
      <app-user-list
        (conversationSelected)="onConversationSelected($event)"
      ></app-user-list>
    </nz-col>

    <nz-col
      [nzXs]="24"
      [nzSm]="24"
      [nzMd]="15"
      [nzLg]="17"
      class="messages-container"
    >
      <app-messages [conversationId]="selectedConversationId"></app-messages>
    </nz-col>
  </nz-row>
</div>
