<div class="register-page">
  <div class="register-container" nz-row>
    <!-- Cột Form -->
    <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="12" class="register-left">
      <h1>Đăng ký</h1>
      <form
        nz-form
        [formGroup]="registerForm"
        class="login-form"
        (ngSubmit)="submitForm()"
        nzLayout="vertical"
      >
        <!-- Upload avatar -->
        <nz-upload
          class="avatar-uploader"
          nzName="avatar"
          [nzShowUploadList]="false"
          nzListType="picture-card"
          [nzBeforeUpload]="beforeUpload"
          [nzCustomRequest]="dummyRequest"
        >
          <ng-container *ngIf="!avatarUrl">
            <span
              class="upload-icon"
              nz-icon
              [nzType]="loading ? 'loading' : 'plus'"
            ></span>
            <div class="ant-upload-text">Upload</div>
          </ng-container>
          <img *ngIf="avatarUrl" [src]="avatarUrl" style="width: 100%" />
        </nz-upload>

        <!-- Tên người dùng -->
        <nz-form-item class="full-width">
          <nz-form-label nzRequired nzFor="userName"
            >Tên người dùng</nz-form-label
          >
          <nz-form-control
            [nzErrorTip]="
              registerForm.get('userName')?.hasError('required')
                ? 'Vui lòng nhập tên người dùng'
                : registerForm.get('userName')?.hasError('minlength')
                ? 'Tên người dùng phải có ít nhất 3 ký tự'
                : registerForm.get('userName')?.hasError('maxlength')
                ? 'Tên người dùng chỉ có nhiều nhất 10 ký tự'
                : undefined
            "
          >
            <input
              nz-input
              formControlName="userName"
              id="userName"
              class="form-input"
            />
          </nz-form-control>
        </nz-form-item>

        <!-- Email -->
        <nz-form-item>
          <nz-form-label nzRequired nzFor="email">E-mail</nz-form-label>
          <nz-form-control
            [nzErrorTip]="
              registerForm.get('email')?.hasError('required')
                ? 'Vui lòng nhập email!'
                : 'Email không hợp lệ'
            "
          >
            <input
              nz-input
              formControlName="email"
              id="email"
              class="form-input"
            />
          </nz-form-control>
        </nz-form-item>

        <!-- Mật khẩu -->
        <nz-form-item>
          <nz-form-label nzRequired nzFor="password">Mật khẩu</nz-form-label>
          <nz-form-control
            [nzErrorTip]="
              registerForm.get('password')?.hasError('required')
                ? 'Vui lòng nhập mật khẩu'
                : registerForm.get('password')?.hasError('minlength')
                ? 'Mật khẩu phải có ít nhất 6 ký tự'
                : undefined
            "
          >
            <input
              nz-input
              type="password"
              id="password"
              formControlName="password"
              class="form-input"
            />
          </nz-form-control>
        </nz-form-item>

        <!-- Xác nhận mật khẩu -->
        <nz-form-item>
          <nz-form-label nzRequired nzFor="confirmPassword"
            >Nhập lại mật khẩu</nz-form-label
          >
          <nz-form-control
            [nzErrorTip]="
              registerForm.get('confirmPassword')?.hasError('required')
                ? 'Vui lòng xác nhận mật khẩu'
                : registerForm
                    .get('confirmPassword')
                    ?.hasError('confirmMismatch')
                ? 'Mật khẩu xác nhận không khớp'
                : undefined
            "
          >
            <input
              nz-input
              type="password"
              id="confirmPassword"
              formControlName="confirmPassword"
              class="form-input"
            />
          </nz-form-control>
        </nz-form-item>

        <!-- Nút đăng ký -->
        <button
          nzSize="large"
          nz-button
          nzType="primary"
          nzShape="round"
          class="register-btn"
        >
          Đăng ký
        </button>
        <p class="login-link">
          Bạn đã có tài khoản?<a href="/login"> Đăng nhập </a>
        </p>
      </form>
    </div>

    <!-- Cột Welcome -->
    <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="12" class="register-right">
      <h1>Chào mừng đến với Todo app</h1>
      <h3>Đã có tài khoản?</h3>
      <button
        nz-button
        nzType="default"
        nzShape="round"
        nzSize="large"
        [routerLink]="['/login']"
      >
        Đăng nhập
      </button>
    </div>
  </div>
</div>
