<div class="chat-container">
  <div class="search-wrapper">
    <nz-input-group class="search-input" [nzSuffix]="suffixIconSearch">
      <input
        type="text"
        nz-input
        placeholder="Tìm kiếm người dùng..."
        [(ngModel)]="searchValue"
        (input)="onSearch()"
        (focus)="onFocus()"
        (blur)="onBlur()"
      />
    </nz-input-group>

    <ng-template #suffixIconSearch>
      <span class="search-icon">
        <i nz-icon nzType="search"></i>
      </span>
    </ng-template>

    <!-- Danh sách người dùng phù hợp -->
    <div
      class="user-list"
      *ngIf="
        isSearchFocused && searchValue.trim() !== '' && filteredUsers.length > 0
      "
    >
      <div
        class="user-item"
        *ngFor="let user of filteredUsers"
        (click)="selectUserToChat(user._id!)"
      >
        <nz-avatar nzIcon="user" class="user-avatar"></nz-avatar>
        <span class="user-name">{{ user.username }}</span>
      </div>
    </div>

    <!-- Nếu không tìm thấy -->
    <div
      class="no-user"
      *ngIf="
        isSearchFocused &&
        searchValue.trim() !== '' &&
        filteredUsers.length === 0
      "
    >
      <p>Không tìm thấy người dùng nào.</p>
    </div>
  </div>

  <div *ngIf="userConversation.length > 0; else newUser">
    <div
      class="user-message active"
      *ngFor="let convo of userConversation"
      (click)="selectConversation(convo._id)"
    >
      <div class="user-message-row">
        <nz-badge [nzCount]="5" class="user-badge">
          <nz-avatar nzShape="square" [nzSize]="48" nzIcon="user"></nz-avatar>
        </nz-badge>
        <div class="user-info">
          <div class="user-header">
            <h4 *ngIf="!convo.isGroup">{{ convo.otherMember?.username }}</h4>
            <h4 *ngIf="convo.isGroup">{{ convo.name }}</h4>
            <p class="message-time">4m</p>
          </div>
          <p class="message-preview">You: {{ convo.lastMessage }}</p>
        </div>
      </div>
    </div>
  </div>

  <ng-template #newUser>
    <div
      class="user-message"
      *ngFor="let user of allUser"
      (click)="selectUserToChat(user._id!)"
    >
      <div class="user-message-row">
        <nz-badge [nzCount]="5" class="user-badge">
          <nz-avatar nzShape="square" [nzSize]="48" nzIcon="user"></nz-avatar>
        </nz-badge>
        <div class="user-info">
          <div class="user-header">
            <h4 class="user-name">{{ user.username }}</h4>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
</div>
