<div class="chat-container">
  <div class="search-wrapper">
    <nz-input-group class="search-input" [nzSuffix]="suffixIconSearch">
      <input
        type="text"
        nz-input
        placeholder="Tìm kiếm người dùng..."
        [(ngModel)]="searchValue"
        (input)="onSearch()"
        (focus)="onFocus()"
        (blur)="onBlur()"
      />
    </nz-input-group>

    <ng-template #suffixIconSearch>
      <span class="search-icon">
        <i nz-icon nzType="search"></i>
      </span>
    </ng-template>

    <!-- Danh sách người dùng phù hợp -->
    <div
      class="user-list"
      *ngIf="
        isSearchFocused && searchValue.trim() !== '' && filteredUsers.length > 0
      "
    >
      <div
        class="user-item"
        *ngFor="let user of filteredUsers"
        (click)="selectUserToChat(user._id!)"
      >
        <nz-avatar nzIcon="user" class="user-avatar"></nz-avatar>
        <span class="user-name">{{ user.username }}</span>
      </div>
    </div>

    <!-- Nếu không tìm thấy -->
    <div
      class="no-user"
      *ngIf="
        isSearchFocused &&
        searchValue.trim() !== '' &&
        filteredUsers.length === 0
      "
    >
      <p>Không tìm thấy người dùng nào.</p>
    </div>
  </div>
  <div *ngIf="!dataReady">
    <nz-skeleton
      [nzActive]="true"
      [nzAvatar]="true"
      [nzTitle]="false"
      [nzParagraph]="{ rows: 2 }"
      [nzRound]="true"
      *ngFor="let i of [1, 2, 3, 4]"
      class="skeleton-item"
    ></nz-skeleton>
  </div>
  <div *ngIf="userConversation.length > 0; else newUser">
    <div
      class="user-message"
      *ngFor="let convo of userConversation"
      (click)="selectConversation(convo._id)"
      [ngClass]="{ active: convo._id === conversationId }"
    >
      <div class="user-message-row">
        <nz-badge [nzCount]="convo.unseenCount" class="user-badge">
          <nz-avatar nzShape="square" [nzSize]="48" nzIcon="user"></nz-avatar>
        </nz-badge>
        <div class="user-info">
          <div class="user-header">
            <h4 *ngIf="!convo.isGroup">
              {{ convo.otherMember?.username }}
            </h4>
            <h4 *ngIf="convo.isGroup">{{ convo.name }}</h4>
            <p class="message-time">
              {{ convo.lastMessage?.createdAt || "" | timeAgo }}
            </p>
          </div>
          <ng-container *ngIf="convo.lastMessage?._id">
            <p
              class="message-preview"
              *ngIf="convo.lastMessage?.type !== 'image'; else imageMessage"
            >
              {{ getSenderName(convo) }}: {{ convo.lastMessage?.content }}
            </p>

            <ng-template #imageMessage>
              <p class="message-preview">
                {{ getSenderName(convo) }}: Đã gửi một ảnh
              </p>
            </ng-template>
          </ng-container>
        </div>
      </div>
    </div>
  </div>

  <ng-template #newUser>
    <div
      class="user-message"
      *ngFor="let user of allUser"
      (click)="selectUserToChat(user._id!)"
    >
      <div class="user-message-row">
        <nz-badge [nzCount]="0" class="user-badge">
          <nz-avatar nzShape="square" [nzSize]="48" nzIcon="user"></nz-avatar>
        </nz-badge>
        <div class="user-info">
          <div class="user-header">
            <h4 class="user-name">{{ user.username }}</h4>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
</div>
