<div class="chat-container">
  <div class="search-wrapper">
    <nz-input-group class="search-input" [nzSuffix]="suffixIconSearch">
      <input
        type="text"
        nz-input
        placeholder="Tìm kiếm ..."
        [(ngModel)]="searchValue"
      />
    </nz-input-group>

    <ng-template #suffixIconSearch>
      <span (click)="onSearch()" class="search-icon">
        <i nz-icon nzType="search"></i>
      </span>
    </ng-template>
  </div>

  <div class="user-message active">
    <div class="user-message-row">
      <nz-badge [nzCount]="5" class="user-badge">
        <nz-avatar nzShape="square" [nzSize]="48" nzIcon="user"></nz-avatar>
      </nz-badge>
      <div class="user-info">
        <div class="user-header">
          <h4 class="user-name">Nguyen Van A</h4>
          <p class="message-time">4m</p>
        </div>
        <p class="message-preview">You: test long message test long message</p>
      </div>
    </div>
  </div>
  <div class="user-message">
    <div class="user-message-row">
      <nz-badge [nzCount]="5" class="user-badge">
        <nz-avatar nzShape="square" [nzSize]="48" nzIcon="user"></nz-avatar>
      </nz-badge>
      <div class="user-info">
        <div class="user-header">
          <h4 class="user-name">Nguyen Van A</h4>
          <p class="message-time">4m</p>
        </div>
        <p class="message-preview">You:</p>
      </div>
    </div>
  </div>
  <div class="user-message">
    <div class="user-message-row">
      <nz-badge [nzCount]="5" class="user-badge">
        <nz-avatar nzShape="square" [nzSize]="48" nzIcon="user"></nz-avatar>
      </nz-badge>
      <div class="user-info">
        <div class="user-header">
          <h4 class="user-name">Nguyen Van A</h4>
          <p class="message-time">4m</p>
        </div>
        <p class="message-preview">You:</p>
      </div>
    </div>
  </div>
  <div class="user-message">
    <div class="user-message-row">
      <nz-badge [nzCount]="5" class="user-badge">
        <nz-avatar nzShape="square" [nzSize]="48" nzIcon="user"></nz-avatar>
      </nz-badge>
      <div class="user-info">
        <div class="user-header">
          <h4 class="user-name">Nguyen Van A</h4>
          <p class="message-time">4m</p>
        </div>
        <p class="message-preview">You:</p>
      </div>
    </div>
  </div>
</div>
