<div *ngIf="previewImageUrl" class="preview-container">
  <img [src]="previewImageUrl" class="preview-image" />
  <i
    nz-icon
    nzType="close-circle"
    (click)="removePreview()"
    class="remove-icon"
  ></i>
</div>
<nz-input-group [nzPrefix]="prefixIcon" [nzSuffix]="suffixIcon">
  <input
    nz-input
    placeholder="Your message"
    [(ngModel)]="messageText"
    (keyup.enter)="sendMessage()"
  />
</nz-input-group>

<ng-template #prefixIcon>
  <!-- Icon click sẽ trigger input file -->
  <i
    nz-icon
    nzType="paper-clip"
    class="input-icon"
    (click)="fileInput.click()"
    style="cursor: pointer"
  ></i>
  <input
    #fileInput
    type="file"
    (change)="onFileSelected($event)"
    accept="image/*"
    style="display: none"
  />
</ng-template>

<ng-template #suffixIcon>
  <i
    nz-icon
    nzType="send"
    class="input-icon send-icon"
    (click)="sendMessage()"
  ></i>
</ng-template>
