<div class="login-wrapper">
  <div class="login-container" nz-row>
    <!-- Welcome section -->
    <div class="login-right" nz-col [nzXs]="24" [nzSm]="24" [nzMd]="12">
      <h1>Chào mừng đến với Chat app</h1>
      <h3>Bạn không có tài khoản?</h3>
      <button
        nz-button
        nzType="default"
        nzShape="round"
        nzSize="large"
        [routerLink]="['/register']"
      >
        Đăng ký
      </button>
    </div>

    <!-- Form Login -->
    <div class="login-form-section" nz-col [nzXs]="24" [nzSm]="24" [nzMd]="12">
      <h1>Đăng nhập</h1>
      <form
        nz-form
        [formGroup]="loginForm"
        class="login-form"
        (ngSubmit)="submitForm()"
        nzLayout="vertical"
      >
        <!-- Email -->
        <nz-form-item>
          <nz-form-label nzRequired nzFor="email">E-mail</nz-form-label>
          <nz-form-control
            [nzErrorTip]="
              loginForm.get('email')?.hasError('required') &&
              (loginForm.get('email')?.dirty ||
                loginForm.get('email')?.touched)
                ? 'Vui lòng nhập email!' 
                : (loginForm.get('email')?.errors?.['invalidLogin'] &&
                   loginForm.get('email')?.touched)
                ? 'Mật khẩu hoặc email sai'
                : 'Email không hợp lệ'
            "
          >
            <input
              nz-input
              formControlName="email"
              id="email"
              class="input-control"
            />
          </nz-form-control>
        </nz-form-item>

        <!-- Password -->
        <nz-form-item>
          <nz-form-label nzRequired nzFor="password">Mật khẩu</nz-form-label>
          <nz-form-control
            [nzErrorTip]="
              loginForm.get('password')?.hasError('required') &&
              (loginForm.get('password')?.dirty ||
                loginForm.get('password')?.touched)
                ? 'Vui lòng nhập mật khẩu'
                : loginForm.get('password')?.hasError('minlength') &&
                  (loginForm.get('password')?.dirty ||
                    loginForm.get('password')?.touched)
                ? 'Mật khẩu phải có ít nhất 6 ký tự'
                : undefined
            "
          >
            <input
              nz-input
              type="password"
              id="password"
              formControlName="password"
              class="input-control"
            />
          </nz-form-control>
        </nz-form-item>

        <!-- Button -->
        <button
          nz-button
          nzType="primary"
          nzShape="round"
          nzSize="large"
          class="login-btn"
        >
          Đăng nhập
        </button>
        <p class="register-link">
          Bạn chưa có tài khoản? <a href="/register"> Đăng ký </a>
        </p>
      </form>
    </div>
  </div>
</div>
