.center-wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
}
.main-content {
  margin-top: 8px;
  width: 80%;
}
:host {
  display: flex;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app-layout {
  height: 100vh;
}

.menu-sidebar {
  position: relative;
  z-index: 10;
  min-height: 100vh;
  box-shadow: 2px 0 6px rgba(0, 21, 41, 0.35);
}

@media screen and (max-width: 768px) {
  .menu-sidebar {
    // display: none;
    width: 40px;
    min-width: 40px !important;
    max-width: 40px !important;
  }
  .logout-button {
    margin: 0px !important;
  }
}

.trigger:hover {
  color: #1890ff;
}

nz-content {
  margin: 24px;
}

.inner-content {
  padding: 24px;
  background-color: var(--bg-color);
  height: 100%;
}

.avatar-uploader {
  text-align: center;
}

.menu-sidebar {
  height: 100vh;
  .sider-content {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .menu-list {
    flex: 1; // đẩy logout xuống dưới
    overflow-y: auto;
  }

  .logout-button {
    color: #fff;
    height: 40px;
    margin: 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    border-radius: 100%;
    width: 40px;

    &:hover {
      background-color: rgba(255, 255, 255, 0.1);
    }
  }
}
