<nz-sider
  class="menu-sidebar"
  nzCollapsible
  [nzCollapsed]="true"
  [nzTrigger]="null"
>
  <div class="sider-content">
    <ul
      nz-menu
      nzTheme="dark"
      nzMode="inline"
      [nzInlineCollapsed]="true"
      class="menu-list"
    >
      <!-- <li
        nz-submenu
        nzTooltipTitle="Cá nhân"
        nz-tooltip
        nzTitle="Cá nhân"
        nzIcon="dashboard"
        nzTooltipPlacement="right"
      ></li> -->
      <li
        nz-submenu
        nzIcon="user"
        nzTooltipTitle="Hồ sơ"
        nzTooltipPlacement="right"
        nz-tooltip
        (click)="openProfileDialog()"
      ></li>
    </ul>

    <div class="logout-button" (click)="logout()">
      <i nz-icon nzType="logout"></i>
    </div>
  </div>
</nz-sider>
